:root {
  --primary: magenta;
  --secondary: black;
  --accent: red;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: magenta;
  border-radius: 6px;
}
